@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georgia, serif; /* Georgia only with serif fallback */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
